/.vscode
/doplaba.exe
/lab1.1.cpp
/lab1.1.exe
/lab1.2.cpp
/lab1.2.exe
/lab1.3.cpp
/lab1.3.exe
/lab2.1.cpp
/lab2.1.exe
/lab2.1.py
/lab2.2.cpp
/lab2.2.exe
/lab3.1.cpp
/lab3.1.exe
/lab3.2.cpp
/lab3.2.exe
/output.txt
/блоксхемы
/лабы